@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-primary antialiased;
  }
}

@layer utilities {
  .clip-path-reveal {
    clip-path: circle(150% at 50% 50%);
    transition: clip-path 0.5s ease-in-out;
  }

  .clip-path-reveal-hover:hover .clip-path-reveal {
    clip-path: circle(0% at 50% 50%);
  }
}
